body{
	background-image: url("../gambar/bg.jpg");
	height: 100%;
}

.table{
    background-color: white;
    border-style: solid;
    border-color: transparent;
    box-shadow: 0px 0px 10px 5px black;
	border-radius: 10px;
}
